// Mixins Here


.display-row {
    display: flex;
    flex-flow: row column;
}

.display-col {
    display: flex;
    flex-flow: column wrap;
}

.just-cent {
    justify-content: center;
}

.just-space-btw {
    justify-content: space-between;
}

.align-cent {
    align-items: center;
}

.btn-color (@bg-color, @color) {
    background: @bg-color;
    color: @color;
}