// Navigation code here
.nav {
    .display-col;
    .just-space-btw;
    width: 100%;
    background-color: @nav-border;
    h1 {
        font-size: 4rem;
        text-align: center;
        color: @header-font-color;
        .container;
    }
    nav {
        .display-row;
        .just-space-btw;
        .container;
        a {
            font-size: 2rem;
            text-decoration: none;
            color: @header-font-color;
        }
    }
}